@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::selection {
    color: #fff;
    background: #Dea057;
    -webkit-text-fill-color: #fff;
}

html {
    font-size: 1rem;
}

@media(min-width: 1200px) and (max-width: 1399px) {
    html {
        font-size: 97%;
    }

    .whats1 {
        position: fixed;
        bottom: 30px;
        right: 20px;
        z-index: 99999;
    }

    .atua-info {
        margin-top: -75px;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 94%;
    }

    .whats1 {
        position: fixed;
        bottom: 30px;
        right: 20px;
        z-index: 99999;
    }

    .atua-info {
        margin-top: -75px;
    }
}


@media(min-width: 576px) and (max-width: 768px) {
    html {
        font-size: 87%;
    }
}

@media(min-width: 576px) {
    html {
        font-size: 84%;
    }
}


body {
    font-family: 'Poppins', sans-serif;
}

button {
    outline: none;
    border: none;
}

a {
    color: unset;
    text-decoration: none;
}

a:focus {
    outline: 0 solid;
}

a:hover {
    text-decoration: none;
    color: unset;
}

header.style-5 {
    background-color: #1e2839;
    width: 100%;
    z-index: 99;
    padding: 0 60px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative
}

@media(max-width:1199px) {
    header.style-5 {
        padding: 0
    }
}

header.style-5 .nav-left {
    background-color: #1e2839;
    width: 100%;
    max-width: 1545px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between
}

@media(min-width:1400px) and (max-width:1830px) {
    header.style-5 .nav-left {
        max-width: 1350px;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px
    }
}

@media(min-width:1200px) and (max-width:1399px) {
    header.style-5 .nav-left {
        max-width: 1050px;
        padding-left: 20px;
        padding-right: 20px
    }
}

@media(max-width:991px) {
    header.style-5 .nav-left {
        padding-left: 20px;
        padding-right: 20px
    }
}

header.style-5.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #1e2839;
    box-shadow: 5px 3px 40px rgba(0, 72, 88, .1);
    animation: smooth-header .65s linear
}

@keyframes smooth-header {
    0% {
        transform: translateY(-30px)
    }
    100% {
        transform: translateY(0px)
    }
}

@media(min-width:1200px) and (max-width:1399px) {
    header.style-5 .header-logo {
        padding: 21px 0
    }
}

@media(min-width:992px) and (max-width:1199px) {
    header.style-5 .header-logo {
        padding: 21px 0
    }
}

@media(max-width:991px) {
    header.style-5 .header-logo {
        padding: 20px 0
    }
}

header.style-5 .header-logo img {
    width: 100px;
    max-width: 100%
}

header.style-5 .main-nav {
    display: inline-block
}

header.style-5 .main-nav .mobile-menu-logo {
    display: none
}

header.style-5 .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

header.style-5 .main-nav ul li {
    display: inline-block;
    position: relative;
    padding: 0 15px
}

header.style-5 .main-nav ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    display: block;
    text-transform: capitalize;
    padding: 30px 0;
    position: relative;
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    -ms-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s
}

header.style-5 .main-nav ul li a:hover {
    color: #d7ce24;
}

header.style-5 .main-nav ul li a.active {
    color: #d7ce24;
}

header.style-5 .main-nav ul li i {
    width: 30px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-style: normal;
    position: absolute;
    right: -10px;
    top: 33px;
    z-index: 999;
    cursor: pointer;
    display: none
}

header.style-5 .main-nav ul li ul.sub-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    min-width: 215px;
    background: #1e2839;
    text-align: left;
    transition: all .5s ease-out 0s;
    transform: translateY(20px)
}

header.style-5 .main-nav ul li ul.sub-menu::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #Dea057;
    position: absolute;
    bottom: 0;
    left: 0
}

header.style-5 .main-nav ul li ul.sub-menu>li {
    padding: 0;
    display: block;
    border-bottom: 1px solid rgba(56, 56, 56, .5);
    position: relative
}

header.style-5 .main-nav ul li ul.sub-menu>li i {
    position: absolute;
    top: 10px;
    right: 6px;
    display: block
}

header.style-5 .main-nav ul li ul.sub-menu>li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1;
    -webkit-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

header.style-5 .main-nav ul li ul.sub-menu>li a:hover {
    color: #d7ce24;
    margin-left: 10px
}

header.style-5 .main-nav ul li ul.sub-menu>li a.active {
    color: #d7ce24;
}

header.style-5 .main-nav ul li ul.sub-menu>li .sub-menu {
    left: 215px;
    position: absolute;
    max-width: 230px;
    min-width: 215px;
    background: #0b0f14;
    top: 0
}

@media only screen and (max-width:1199px) {
    header.style-5 .main-nav ul li ul.sub-menu>li .sub-menu {
        margin-left: 10px;
        position: unset;
        max-width: 230px;
        min-width: 215px;
        background: 0 0;
        top: 0
    }
}

header.style-5 .main-nav ul li ul.sub-menu>li .sub-menu li i {
    display: block
}

header.style-5 .main-nav ul li ul.sub-menu>li:last-child {
    border-bottom: none
}

header.style-5 .main-nav ul li:hover>ul.sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0)
}

header.style-5 .main-nav ul li.menu-item-has-children>i {
    display: block
}

@media only screen and (max-width:1199px) {
    header.style-5 .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 280px;
        padding: 30px 20px !important;
        z-index: 99999;
        height: 100%;
        overflow: auto;
        background: #1e2839;
        -webkit-transform: translateX(-260px);
        transform: translateX(-100%);
        -webkit-transition: -webkit-transform .3s ease-in;
        transition: -webkit-transform .3s ease-in;
        transition: transform .3s ease-in;
        transition: transform .3s ease-in, -webkit-transform .3s ease-in
    }
    header.style-5 .main-nav.show-menu {
        transform: translateX(0)
    }
    header.style-5 .main-nav .mobile-menu-logo {
        text-align: left;
        padding-top: 20px;
        display: block;
        padding-bottom: 8px
    }
    header.style-5 .main-nav ul {
        float: none;
        text-align: left;
        padding: 25px 10px 25px 0
    }
    header.style-5 .main-nav ul li {
        display: block;
        position: relative;
        padding: 0 5px
    }
    header.style-5 .main-nav ul li i {
        display: block
    }
    header.style-5 .main-nav ul li a {
        padding: 10px 0;
        display: block;
        font-weight: 300
    }
    header.style-5 .main-nav ul li ul.sub-menu {
        position: static;
        min-width: 200px;
        background: 0 0;
        border: none;
        opacity: 1;
        visibility: visible;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: none;
        transition: none;
        display: none;
        margin-top: 0 !important;
        transform: translateY(0px)
    }
    header.style-5 .main-nav ul li .fa-solid {
        top: 8px;
        font-size: 16px
    }
    header.style-5 .mobile-menu {
        position: relative;
        top: 2px;
        padding: 0 5px;
        border-radius: 50%;
        display: inline-block
    }
    header.style-5 .cross-btn {
        display: inline-block !important;
        position: relative;
        width: 30px !important;
        height: 22px !important;
        cursor: pointer;
        border: 3px solid transparent !important
    }
    header.style-5 .cross-btn span {
        width: 100%;
        height: 2px;
        background: linear-gradient(233.77deg, rgba(115, 0, 0, 0.8) 0.94%, rgba(217, 10, 44, 0.8) 99.09%) !important;
        display: block;
        position: absolute;
        right: 0;
        -webkit-transition: all .3s;
        transition: all .3s
    }
    header.style-5 .cross-btn .cross-top {
        top: 0
    }
    header.style-5 .cross-btn .cross-middle {
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%
    }
    header.style-5 .cross-btn .cross-bottom {
        bottom: 0;
        width: 100%
    }
    header.style-5 .cross-btn.h-active span.cross-top {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 50%;
        margin-top: -1px
    }
    header.style-5 .cross-btn.h-active span.cross-middle {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
        opacity: 0
    }
    header.style-5 .cross-btn.h-active span.cross-bottom {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 50%;
        margin-bottom: -1px
    }
}

.banner-section3 {
    position: relative;
    min-height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-items: center;
    background-color: #1e2839;
    z-index: 1
}

.banner-section3.sibling2 {
    background: #fff;
}

.banner-section3 .banner3-vector {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%
}

@media(max-width:767px) {
    .banner-section3 .banner3-vector {
        display: none;
        visibility: hidden
    }
}

.banner-section3 .banner3-bg {
    width: 100%;
    max-width: 1545px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/justica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1
}

@media(min-width:1400px) and (max-width:1830px) {
    .banner-section3 .banner3-bg {
        max-width: 1350px;
        width: 100%
    }
}

.banner-section3 .banner3-bg::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, .7);
    z-index: 999
}

.banner-section3 .bann31-single {
 text-align: center;
}

@media(min-width:1400px) and (max-width:1599px) {
    .banner-section3 .bann31-single {
        padding-left: 5%
    }
}

@media(min-width:1200px) and (max-width:1399px) {
    .banner-section3 .bann31-single {
        padding-left: 15%
    }
}

@media(max-width:1199px) {
    .banner-section3 .bann31-single {
        flex-wrap: wrap
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .banner-section3 .bann31-single {
        padding: 70px 100px
    }
}

@media(max-width:991px) {
    .banner-section3 .bann31-single {
        padding: 70px 30px
    }
}

.banner-section3 .bann31-single .content {
    width: 100%;
    max-width: 890px;
    padding-right: 0
}

@media(max-width:1199px) {
    .banner-section3 .bann31-single .content {
        text-align: center;
        max-width: 100%
    }
}

.banner-section3 .bann31-single .content>span {
    font-size: 1.375rem;
    font-weight: 400;
    color: #d7ce24;
    display: inline-block;
    position: relative;
    margin-bottom: 10px
}

.banner-section3 .bann31-single .content>span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #D7B679 0%, transparent 95.32%)
}

.banner-section3 .bann31-single .content h2 {
    font-size: 4.7rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 50px
}

.banner-section3 .bann31-single .content h2 span {
    font-size: 4.7rem;
    font-weight: 600;
    color: #d7ce24;
}

@media(min-width:1200px) and (max-width:1399px) {
    .banner-section3 .bann31-single .content h2 {
        font-size: 4rem;
        font-weight: 600;
        color: #fff;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .banner-section3 .bann31-single .content h2 {
        font-size: 4.2rem;
        font-weight: 600;
        color: #fff;
    }
}

@media(min-width:576px) and (max-width:768px) {
    .banner-section3 .bann31-single .content h2 {
        font-size: 4rem;
        font-weight: 600;
        color: #fff;
    }
}

@media(max-width:576px) {
    .banner-section3 .bann31-single .content h2 {
        font-size: 3.8rem;
        font-weight: 600;
        color: #fff;
    }
}

.banner-section3 .bann31-single .banner3-lawyer-img {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 465px;
    margin-left: 20px
}

@media(max-width:1199px) {
    .banner-section3 .bann31-single .banner3-lawyer-img {
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto
    }
}

@media(max-width:576px) {
    .banner-section3 .bann31-single .banner3-lawyer-img {
        max-width: 300px
    }
}

.banner-section3 .bann31-single .banner3-lawyer-img::before {
    content: url();
    position: absolute;
    right: -25px;
    top: -28px;
    z-index: -1
}

@media(max-width:576px) {
    .banner-section3 .bann31-single .banner3-lawyer-img::before {
        display: none;
        visibility: hidden
    }  
}

.banner-section3 .bann31-single .banner3-lawyer-img img {
    border-radius: 15px
}


.banner-section3 .bann31-single .video-play {
    text-align: center;
    z-index: 9
}

.banner-section3 .bann31-single .video-play .video-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    border: 1px solid #d7ce24;
    font-size: 36px;
    color: #fff;
    background: #d7ce24;
}

.banner-section3 .bann31-single .video-play .video-icon::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(215, 182, 121, .5);
    -webkit-animation: ripple-1 2s infinite ease-in-out;
    animation: ripple-1 2s infinite ease-in-out;
    z-index: -1
}

.banner-section3 .bann31-single .video-play .video-icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(215, 182, 121, .3);
    z-index: -1;
    -webkit-animation: ripple-2 2s infinite ease-in-out;
    animation: ripple-2 2s infinite ease-in-out;
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.btn--primary2 {
    background: #CA9457;
    color: #fff;
    border-radius: 0;
    position: relative;
    z-index: 1
}

.btn--primary2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #1e2839;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: -1;
    transform: scaleX(0);
    border-radius: 10px
}

.btn--primary2:hover {
    color: #fff
}

.btn--primary2:hover::after {
    transform: scaleX(1)
}

.btn--primary2.sibling2 {
    border-radius: 10px;
    line-height: 32px;
    width: 150px;
    height: 40px;    
    background-color: #d7ce24;
    color: #fff;
    text-align: center;
}

.conteudo {
    background: #1e2839;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    color: #fff;
}

.t-1 {
    color: #d7ce24;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.t-2 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

@media(max-width:390px) {
  .t-1 {
    font-size: 30px;
  }
}

.practice-single3 {
    border-radius: 10px;
    background: #1e2839;
    padding: 15px
}

.practice-single3:hover .practice-image::after {
    clip-path: polygon(0% 100%, 0 100%, 100% 100%)
}

.practice-single3 .practice-image {
    position: relative;
    z-index: 9
}

.practice-single3 .practice-image::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #d7ce24;
    clip-path: polygon(0% 24%, 0 100%, 100% 100%);
    transition: all .5s ease;
    z-index: 1
}

.practice-single3 .practice-image>img {
    border-radius: 8px;
    width: 100%
}

.practice-single3 .practice-image .practice-icon {
    position: absolute;
    left: -2px;
    bottom: -2px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    z-index: 9
}

.practice-single3 .practice-content {
    padding: 15px;
    padding-top: 25px
}

.practice-single3 .practice-content h4 {
    color: #d7ce24;
    font-size: 1.563rem;
    font-weight: 700;    
    margin-bottom: 15px
}

.practice-single3 .practice-content p {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.practice-single3 .practice-content .details-btn {
    font-size: 16px;
    font-weight: 600;
    color: #d7ce24;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding-bottom: 5px
}

.practice-single3 .practice-content .details-btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 3px;
    border-radius: 4px;
    background: #d7ce24;
    transition: all .4s ease
}

.practice-single3 .practice-content .details-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 73px;
    height: 1px;
    border-radius: 4px;
    background: #fff;
    z-index: -1
}

.practice-single3 .practice-content .details-btn:hover::before {
    width: 73px
}

.practice-single3.sibling2 {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .07)
}

.practice-single3.sibling2:hover .practice-image::after {
    clip-path: polygon(0% 100%, 0 100%, 100% 100%)
}

.practice-single3.sibling2 .practice-image {
    position: relative;
    z-index: 9
}

.practice-single3.sibling2 .practice-image::after {
    background: #fff;
    z-index: 1
}

.practice-single3.sibling2 .practice-image>img {
    border-radius: 8px;
    width: 100%
}

.practice-single3.sibling2 .practice-image .practice-icon {
    background-color: #1e2839;
}

.practice-single3.sibling2 .practice-content h4 {
    font-size: 1.563rem;
    font-weight: 700;
    color: #1e2839;
}

.practice-single3.sibling2 .practice-content p {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.practice-single3.sibling2 .practice-content .details-btn {
    font-size: 16px;
    font-weight: 600;
    color: #d7ce24;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding-bottom: 5px
}


.space {
    margin-top: 100px;
}


.site-footer
{
  background-color:#1e2839;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color: #fff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#d7ce24;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff;
}
.site-footer a:hover
{
  color:#d7ce24;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: #d7ce24;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color: #fff;
}
.copy-txt {
    color: #d7ce24;
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#fff;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color: #1e2839;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.whats:hover
{
  background-color: #25D366;
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.atuacao {
    margin-top: 20px;
    height: 150px;
    text-align: center;
}

.whats1 {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99999;
}

.bx-foto img{
    display: flex;
    width: 90%;
    height: 50%;
    margin: auto;
    border-radius: 10px;
}

.atua-title {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

.atua-info {
    display: flex;
    color: #1e2839;
    text-align: justify;
    font-size: 18px;

}

.env {
    background: #1e2839;
    color: #d7ce24;
    height: 50px;
}

.env:hover {
    background: #d7ce24;
    color: #1e2839;
}

